<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="title-bar">
  <h1>Item Table List</h1>
</div>

<div class="main">
  <a routerLink="/releaseList" class="btn btn-primary">Back</a>
  <table style="width:100%" class="table table-striped table-dark">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th> 
          <th>Release ID</th>
        </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
          <td>{{item.itemId}}</td>
          <td>{{item.name}}</td>
          <td>{{item.release}}</td>
      </tr>
    </tbody>
    </table>
</div>


<div class = "section-a">
  <div class = "container">
    <div class="row">
      <div class ="col-md-12">
        <img src="../../../assets/mphasis-logo.jpg">
      </div>
    </div>
  </div>
</div>
