<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class = "showcase">
  <div class = "container">
    <h1>Welcome</h1>
    <p class = "lead">to Release Managment Simulator</p>
  </div>
</div>

<div class = "section-a">
  <div class = "container">
    <div class="row">
      <div class ="col-md-12">
        <i class="fas fa-book"></i>
        <h3>View All Releases</h3>
        <p>Click here to view all of the avaliable project releases. </p>
        <a routerLink="/releaseList" class="btn btn-primary">GO!</a>
      </div>

    </div>
  </div>
</div>

